*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.animate__fadeInDown{
    animation-duration: 2s;
}
.animate__fadeInUpBig{
    animation-duration: 2s;
}